@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@400;700&display=swap');
/*font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
}
.card{
    display: flex;
    
    transition: 3s;

}
.box1{
    width: 320px;
    height: 500px;
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: 3s;
}
.ft1{
    padding: 35px;
}
.titulo{
    padding-left: 35px;
   font-family: 'Big Shoulders Display', cursive;
   font-size: 40px;
   margin-bottom: 30px;
}
.text{
    width: 250px;
    margin-bottom: 80px;
}
.titl{
    
    padding-left: 35px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 25px;
}
.bu{
    padding-left: 35px;
    
}
.x{
    border: none;
    font-weight: 700;
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    border-radius: 20px;
    transition: 3s;
}
.box2{
    background-color: hsl(184, 100%, 22%);
    width: 320px;
    height: 500px;
    transition: 3s;
}
.box3{
    background-color: hsl(179, 100%, 13%);
    width: 320px;
    height: 500px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: 3s;
}
.x2{
    border: none;
    font-family: ;
    font-weight: 700;
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    border-radius: 20px;
    transition: 3s;
}
.x3{
    border: none;
    font-family: ;
    font-weight: 700;
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%);
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
    border-radius: 20px;
    transition: 3s;
}

@media screen and (max-width: 1000px){
    .card{
        transition: 3s;
        flex-direction: column;
        height: 730px;
    }
    .box1{
        border-bottom-left-radius: 0px;
        border-top-right-radius: 15px;
    }
    .text{
        margin-bottom: 30px;
    }
    .x,.x2,.x3{
        margin-bottom: 20px;
    }
    .box3{
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }

}